/* Search */
.pencarian-news .container .input-group input[type="text"] {
  border: 1px solid var(--warna1);
  font-size: 0.8rem;
}

.pencarian-news .container .input-group input[type="text"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
}
.pencarian-news
  .container
  .input-group
  input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
}
.pencarian-news
  .container
  .input-group
  input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaa;
}

.pencarian-news .container .input-group input[type="text"]:focus {
  box-shadow: none;
}

.pencarian-news .container .input-group button {
  background-color: var(--warna1);
  color: var(--warna2);
}

.pencarian-news .container .input-group select {
  padding: 0 0.5rem 0.13rem 0.5rem;
  outline: none;
  border: 1px solid var(--warna1);
  font-size: 0.8rem;
  color: var(--warna6);
}
/* End Search */

/* Daftar Blog */
.blog .card-utama .card {
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.blog .card-utama .card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.blog .card-utama .card .card-body .kdw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog .card-utama .card .card-body .kdw h6 {
  color: var(--warna1);
  font-weight: bold;
}

.blog .card-utama .card-body .card-title h5 {
  font-weight: bold;
  color: var(--warna6);
}

.blog .card-utama .card-body .card-text p {
  color: var(--warna6);
}

.blog .card-utama .card .card-body p.card-waktu {
  font-size: 0.85rem;
  color: #aaa;
}

.blog .ads .card {
  max-height: 20rem;
}

.blog .ads .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
}
/* End Daftar  */

/* Media Breakpoints */
@media (max-width: 576px) {
  .blog .container .ads {
    display: none;
  }

  .pencarian-news {
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  .pencarian-news {
    margin-top: 4rem;
  }

  .blog .ads .card {
    max-height: 18rem;
  }
}

@media (max-width: 992px) {
  .pencarian-news {
    margin-top: 4rem;
  }

  .blog .ads .card {
    max-height: 18rem;
  }
}
