/* Isi Data Undangan */
section.isi-data-undangan {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

section.isi-data-undangan h3 {
    text-align: center;
    margin-bottom: 2rem;
}

section.isi-data-undangan h3 span {
    font-weight: bold;
    color: var(--warna1);
}

section.isi-data-undangan .accordion-flush .accordion-item {
    border: none;
}

section.isi-data-undangan .accordion-flush .accordion-item p{
    border: none;
}

section.isi-data-undangan .accordion-flush .accordion-item .accordion-button {
    background-color: var(--warna2);
    border: 3px solid var(--warna1);
    border-radius: var(--lengkung);
    -webkit-border-radius: var(--lengkung);
    -moz-border-radius: var(--lengkung);
    -ms-border-radius: var(--lengkung);
    -o-border-radius: var(--lengkung);
}

section.isi-data-undangan .accordion-button:focus{
    border-color: var(--warna1) !important;
    box-shadow: none !important;
}

section.isi-data-undangan .accordion-button:not(.collapsed) {
    background-color: var(--warna2);
    border: 2px solid var(--warna1);
}

section.isi-data-undangan .accordion-item button {
    color: var(--warna1);
}

section.isi-data-undangan .accordion-item button p {
    margin-bottom: 0;
    color: var(--warna6);
}

section.isi-data-undangan .accordion-item button p i {
    color: var(--warna1);
}

section.isi-data-undangan .accordion-body {
    color: var(--warna6);
    border: 3px solid var(--warna1);
    border-top: none;
    border-radius: var(--lengkung);
    -webkit-border-radius: var(--lengkung);
    -moz-border-radius: var(--lengkung);
    -ms-border-radius: var(--lengkung);
    -o-border-radius: var(--lengkung);
}
/* End Isi Data Undangan */

@media (max-width: 576px) {
    section.isi-data-undangan .img-du .card .card-img-overlay span {
        font-size: 1rem;
    }
  
  }