/* Search */
.pencarian-news .container .input-group input::placeholder,
.pencarian-news .container .input-group input::-ms-input-placeholder,
.pencarian-news .container .input-group input:-ms-input-placeholder {
  font-size: 0.2rem;
  color: #adb5bd;
}

.pencarian-news .container .input-group input[type="text"] {
  border: 1px solid var(--warna1);
  font-size: var(--title);
}

.pencarian-news .container .input-group input[type="text"]:focus {
  box-shadow: none;
}

.pencarian-news .container .input-group button {
  background-color: var(--warna1);
  color: var(--warna2);
}

.pencarian-news .container .input-group select:focus {
  box-shadow: none;
}

.pencarian-news .container .input-group select {
  border: 1px solid var(--warna1);
}
/* End Search */

/* Daftar Blog */
.daftar-blog .card {
  max-height: 24rem;
  border: none;
}

.daftar-blog .card .carousel-caption {
  padding-bottom: 0;
  font-size: 0.9rem;
}

.daftar-blog .card img:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent, var(--warna3));
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.daftar-blog .card .carousel-caption a {
  background-color: var(--warna1);
  color: var(--warna2);
  font-size: 0.75rem;
  margin-bottom: 0.2rem;
  /*border-radius: 9999px;*/
  font-weight: 500;
  padding: 0 0.5rem;
}

.daftar-blog .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
  border-radius: 1rem;
}
/* End Daftar Blog */
