/* Search */
/* .pencarian-news .container .input-group input::placeholder,
.pencarian-news .container .input-group input::-ms-input-placeholder,
.pencarian-news .container .input-group input:-ms-input-placeholder {
  font-size: 0.2rem;
  color: #adb5bd;
}

.pencarian-news .container .input-group input[type="text"] {
  border: 2px solid var(--warna1);
  font-size: var(--title);
}

.pencarian-news .container .input-group input[type="text"]:focus {
  box-shadow: none;
}

.pencarian-news .container .input-group input[type="text"]::placeholder {
  color: #aaa;
  opacity: 1;
}
.pencarian-news
  .container
  .input-group
  input[type="text"]:-ms-input-placeholder {
  color: #aaa;
}
.pencarian-news
  .container
  .input-group
  input[type="text"]::-ms-input-placeholder {
  color: #aaa;
} */

.pencarian-news .container .input-group button {
  background-color: var(--warna1);
  color: var(--warna2);
}

.pencarian-news .container .input-group select:focus {
  box-shadow: none;
}

.pencarian-news .container .input-group select {
  border: 2px solid var(--warna1);
  color: var(--warna6);
}

.pencarian-news .container .input-group select {
  font-weight: bold;
  color: var(--warna6);
}

.pencarian-news .container .seleksi .tombol-pencarian button {
  background-color: var(--warna1);
  color: var(--warna2);
}
/* End Search */

/* Daftar Blog */
.daftar-blog .card {
  max-height: 24rem;
  border: none;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.daftar-blog .card:hover {
  filter: drop-shadow(0 10px 5px var(--warna1));
  transform: translateY(-10px);
  transition: 0.5s;
}

.daftar-blog .card .carousel-caption {
  padding-bottom: 0;
  font-size: 0.9rem;
}

.daftar-blog .card:before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    transparent 40%,
    rgba(0, 0, 0, 0.6)
  );
  display: block;
  position: absolute;
  top: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.daftar-blog .card .carousel-caption span.editor {
  background-color: var(--warna1);
  color: var(--warna2);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: var(--lengkungO);
  -webkit-border-radius: var(--lengkungO);
  -moz-border-radius: var(--lengkungO);
  -ms-border-radius: var(--lengkungO);
  -o-border-radius: var(--lengkungO);
}

.daftar-blog .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 24rem;
  max-height: 24rem;
  border-radius: 1rem;
}
/* End Daftar Blog */

/* Media Breakpoints */
@media (max-width: 768px) {
  .pencarian-news {
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .pencarian-news {
    margin-top: 0;
  }
}
