/* Tombol arah */
div.tombol-arah {
  border: none;
}

div.tombol-arah i.btn {
  color: var(--warna1);
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
}
/* End Tombol Arah */

/* Carousel Bootstrap */
.slider {
  margin-top: 9rem;
}

.slider .container {
  height: 60vh;
}

.slider .carousel .carousel-inner {
  height: 60vh;
}

.slider .carousel .carousel-inner img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 60vh;
  border-radius: var(--lengkung);
}

.slider .left-side-slider .card {
  height: 75vh;
}

.slider .left-side-slider .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
}

.slider .left-side-slider .card .card-img-overlay .discount {
  width: max-content;
  text-align: center;
  margin: 12rem auto;
  color: var(--warna3);
  background-color: var(--warna2);
}

/* Card own-slider 1 */
/* Highlight News */
.owncar1 .own1 .card {
  max-height: 24rem;
}

.owncar1 .own1 .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
  border-radius: var(--lengkung);
}

.owncar1 .own1 .card .carousel-caption {
  padding-bottom: 0;
  font-size: 1.3rem;
  z-index: 1;
  right: 5%;
  left: 5%;
}

.owncar1 .own1 .card:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.6));
  display: block;
  position: absolute;
  top: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}


.owncar1 .own1 .card .carousel-caption button {
  background-color: var(--warna1);
  font-size: .9rem;
  color: var(--warna2);
  font-weight: 700;
  padding: 0.5rem;
  border: none;
  border-radius: .5rem;
}

.owncar1 .own1 .card .carousel-caption p {
  color: var(--warna2);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: .9rem;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 2.5rem;
  line-height: normal;
  overflow: hidden;
}

/* Card -own-slider 2 */
/* Free Templates */
.owncar2 .own2 .card {
  max-height: 24rem;
  border: none;
  transition: .5s;
  border-radius: var(--lengkung);
}

.owncar2 .own2 .card .kategori {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 30px;
}

.owncar2 .own2 .card .kategori span {
  padding: 6.7px 15px 10px 15px;
  font-weight: bold;
  background-color: var(--warna1);
  border-radius: var(--lengkungO);
  color: var(--warna2);
}

.owncar2 .own2 .card .pemesanan {
  opacity: 0.5;
  right: 0;
  left: 0;
  bottom: 40%;
  transition: .5s;
}

.owncar2 .own2 .card .pemesanan:hover {
  right: 0;
  left: 0;
  bottom: 40%;
  opacity: 1;
  transition: .5s;
  background-color: var(--warna1);
 }

 .owncar2 .own2 .card .pemesanan a {
  color: var(--warna2);
  border-radius: 9999px;
 }

.owncar2 .own2 .card .pemesanan a:hover {
  color: var(--warna3);
  font-weight: bold;
  background-color: var(--warna2);
  border-radius: 9999px;
 }

.owncar2 .own2 .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
  border-radius: var(--lengkung);
}

/* News */
/* Card Utama */
.news .card-image-utama .card .card-title h6 {
  color: var(--warna1);
}

.news .card-image-utama .card .card-title span {
  color: var(--warna5);
}

.news .card-image-utama .card .card-text p {
  color: var(--warna3);
}

.news .card-image-utama .card .card-body p.card-waktu {
  font-size: .85rem;
  color: #aaa;
}

/* Card Lists */
.news .card-image-utama .card img {
  border-radius: var(--lengkung);
}

.news .card-image-lists .card {
  margin-bottom: 0.7rem;
  border: none;
}

.news .card-image-lists .card .card-body .card-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--warna1);
}

.news .card-image-lists .card .card-body p.card-text {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: var(--warna3);
}

.news .card-image-lists .card .card-body p.card-waktu {
  font-size: .7rem;
  color: #aaa;
}

.news .card-image-lists .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  max-height: 10rem;
  border-radius: var(--lengkung);
}

/* Card -own-slider 3 */
/* Documentations */
.owncar3 .own3 .card {
  max-height: 24rem;
  border-radius: var(--lengkung);
}

.owncar3 .own3 .card .carousel-caption {
  padding-bottom: 0;
  font-size: 0.9rem;
  z-index: 1;
}

.owncar3 .own3 .card:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.6));
  display: block;
  position: absolute;
  top: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.owncar3 .own3 .card .carousel-caption a {
  background-color: var(--warna1);
  color: var(--warna2);
  font-size: 0.75rem;
  margin-bottom: 0.2rem;
  /*border-radius: 9999px;*/
  font-weight: 500;
  padding: 0 0.5rem;
}

.owncar3 .own3 .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
  border-radius: var(--lengkung);
}

/* Media Breakpoints */
@media (max-width: 576px) {
  .news .card-image-lists .card img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 15vh;
    min-width: 30vw;
  }

  .slider {
    margin-top: 4rem;
}

}

@media (max-width: 768px) {
  .slider {
    margin-top: 4rem;
}

}

@media (max-width: 992px) {
  .slider {
    margin-top: 4rem;
}

}
